APP_NAME="URL Shortener & Analytics Service"
APP_ENV=development
BASE_URL=http://localhost:8000

DATABASE_URL=postgresql+psycopg://postgres:postgres@postgres:5432/url_shortener
REDIS_URL=redis://redis:6379/0
REDIS_TTL_SECONDS=3600

SHORT_CODE_LENGTH=7
